
.background{
    background-image: url(../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
}
nav{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    align-items: center;
}
.party{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* main section style */

.discount{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.catagories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.middle{
    padding: 10px;
}
.holiday+.catagories{
    gap: 0px;
}

.background2{
    text-align: center;
    background-image: url(../B9A1-New-Year-New-Mission-main/resources/New\ Year\ Photo.png);
    width: 802.9px;
    height: 500px;
    position: relative;
    justify-content: center;
    background-position: right;
}
.background3{
    background-image: url(../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png);
    text-align: center;
    width: 1320px;
    height: 600px;
    position: relative;
    justify-content: center;
    background-position: right;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}
    